<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-11">

        <!-- Header -->
        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Módulo
                </h6>

                <!-- Title -->
                <h1 class="header-title"> 
                  Solicitudes
                </h1>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>

        <!-- Alert -->


        <!-- Card -->
        <div class="card">
          <div class="card-header">

            <!-- Title -->
            <h4 class="card-header-title">
              Mostrando tus solicitudes de compra
            </h4>

          </div>

          <div class="table-responsive">
            <table class="table table-sm table-nowrap card-table">
              <thead>
                <tr>
                  <th>Fecha de Entrega</th>
                  <th>Observación</th>
                  <th>Total</th>
                  <th>Estado</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody class="font-size-base" *ngIf="!load">
                <tr *ngFor="let item of productos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                  <td>
                    <span *ngIf="item.fechaEntrega">{{item.fechaEntregaString}}</span>
                    <span *ngIf="!item.fechaEntrega">No registrada</span>
                  </td>
                  <td>
                    {{item.observacion}}
                  </td>
                  <td>
                    S/ {{item.total}}
                  </td>
                  <td>
                    <span *ngIf="item.estadoOrden === 1" span class="badge badge-primary">
                      En revisión
                    </span>
                    <span *ngIf="item.estadoOrden === 2" span class="badge badge-danger">
                      Rechazada
                    </span>
                    <span *ngIf="item.estadoOrden === 3" span class="badge badge-warning">
                      Pendiente
                    </span>
                    <span *ngIf="item.estadoOrden === 4" span class="badge badge-success">
                      Completada
                    </span>
                    <span *ngIf="item.estadoOrden === 5" span class="badge badge-info">
                      Reprogramada
                    </span>
                  </td>
                  <td>
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonAlias"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opciones
                      </button>

                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAlias">
                        <li>
                          <a class="dropdown-item" [routerLink]="['/solicitudes/edit',item._id]">Detalle</a>
                        </li>
                      </ul>
                    </div>

                    <!-- <div class="modal fade" id="vs-{{item._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title">Confirmación de visibilidad</h4>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              </div>
                              <div class="modal-body">
                                <div class="alert d-flex alert-danger" role="alert" *ngIf="item.galeria.length!= 4">
                                  <i class="ci-close-round lead me-3"></i>
                                  <div>
                                    Debe tener 4 imagenes en la galería.
                                  </div>
                                </div>
      
                                <p *ngIf="!item.vs">Desea hacer visible el producto en la tienda?</p>
                                <p *ngIf="item.vs">Desea ocultar el producto de la tienda?</p>
                              </div>
                              <div class="modal-footer">
                                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cancelar</button>
                                <ng-container *ngIf="!load_estado">
                                  <button *ngIf="item.galeria.length!= 4" class="btn btn-danger btn-shadow btn-sm" disabled type="button">Si, cambiar</button>
                                  <button *ngIf="item.galeria.length== 4" class="btn btn-danger btn-shadow btn-sm" (click)="cambiar_vs(item._id,item.estado)" type="button">Si, cambiar</button>
                                </ng-container>
                                
                                
                                <button disabled *ngIf="load_estado" type="button" class="btn btn-danger btn-shadow btn-sm">
                                  <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                  Cambiando...
                                </button>
                              </div>
                            </div>
                          </div>
                        </div> -->
                  </td>
                </tr>

              </tbody>
              <tbody *ngIf="load">
                <tr>
                  <td colspan="5" class="text-center">
                    <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden"></span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>
        <ngb-pagination *ngIf="productos.length >= 1" [(page)]="page" [pageSize]="pageSize" [maxSize]="10"
          [rotate]="true" [boundaryLinks]="true" [collectionSize]="productos.length"></ngb-pagination>

        <br>

      </div>
    </div> <!-- / .row -->
  </div>
</div>