<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-11">

        <!-- Header -->
        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Módulo
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  Solicitudes
                </h1>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>

        <!-- Alert -->


        <!-- Card -->
        <div class="card">
          <div class="card-header">

            <!-- Title -->
            <h4 class="card-header-title">
              Mostrando el detalle de la solicitud de compra
            </h4>

          </div>

          <div class="table-responsive">
            <table class="table table-sm table-nowrap card-table">
              <thead>
                <tr>
                  <th>Materia Prima</th>
                  <th>Categoria</th>
                  <th>Descripcion</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody class="font-size-base" *ngIf="!load">
                <tr *ngFor="let item of productos | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                  <td>
                    <div class="d-flex align-items-center">

                      <!-- Image -->
                      <div class="avatar mr-3">
                        <img class="avatar-img rounded me-3 mr-3" src="{{item.foto}}" alt="...">
                      </div>

                      <div class="ms-3">

                        <!-- Heading -->
                        <h4 class="fw-normal mb-1">{{item.nombre}}</h4>

                        <!-- Text -->


                      </div>

                    </div>
                  </td>
                  <td>
                    {{item.categoria}}
                  </td>
                  <td>
                    {{item.descripcion}}
                  </td>
                  <td>
                    {{item.cantidad}}
                  </td>
                  <td>
                    {{item.precio}}
                  </td>
                  
                </tr>

              </tbody>
              <tbody *ngIf="load">
                <tr>
                  <td colspan="5" class="text-center">
                    <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden"></span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="card-footer">
            <a class="btn btn-warning btn-shadow mr-3" [routerLink]="['/solicitudes']"
              routerLinkActive="router-link-active">Regresar</a>
            <button *ngIf="!load_btn && estado === 1" class="btn btn-primary btn-shadow" style="margin-right: 12px" type="submit" (click)="aceptar()">Aceptar</button>
            <button *ngIf="!load_btn && estado === 1" class="btn btn-danger btn-shadow" type="submit" (click)="rechazar()">Rechazar</button>
            <button *ngIf="!load_btn && estado === 3" class="btn btn-primary btn-shadow" style="margin-right: 12px" type="submit" (click)="completar()">Completar</button>
            <button disabled *ngIf="load_btn" type="button" class="btn btn-primary btn-shadow">
              <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
              Actualizando...
            </button>
          </div>
        </div>
        <ngb-pagination *ngIf="productos.length >= 1" [(page)]="page" [pageSize]="pageSize" [maxSize]="10"
          [rotate]="true" [boundaryLinks]="true" [collectionSize]="productos.length"></ngb-pagination>

        <br>

      </div>
    </div> <!-- / .row -->
  </div>
</div>