<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">

        <!-- Header -->
        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Módulo
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  Materia Prima
                </h1>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>

        <!-- Alert -->


        <!-- Card -->
        <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
          <div class="card">
            <div class="card-header">

              <!-- Title -->
              <h4 class="card-header-title">
                Registrar
              </h4>

            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Titulo de la materia prima (*)</label>
                    <input type="text" class="form-control" required placeholder="Titulo del producto" name="nombre"
                      [(ngModel)]="producto.nombre">
                  </div>
                </div>
                <div class="col-lg-6">
                  <label for="exampleInputEmail1">Categoría (*)</label>
                  <select class="form-control custom-select" id="select-input" required name="categoria"
                    [(ngModel)]="producto.categoriaProducto">
                    <option value="" selected disabled>Seleccionar</option>
                    <option value="{{item._id}}" *ngFor="let item of categorias">{{item.nombre}}</option>
                  </select>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Foto (*)</label>
                    <input type="text" class="form-control" required placeholder="Foto del producto" name="foto"
                      [(ngModel)]="producto.foto">
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Descripción</label>
                    <textarea type="text" class="form-control" required placeholder="Descripción del producto" name="descripcion" rows="4"
                      [(ngModel)]="producto.descripcion"></textarea>
                  </div>
                </div>

              </div>
            </div>
            <div class="card-footer">

              <a class="btn btn-warning btn-shadow mr-3" [routerLink]="['/productos']"
                routerLinkActive="router-link-active">Regresar</a>
              <button *ngIf="!load_btn" class="btn btn-primary btn-shadow" type="submit">Crear</button>

              <button disabled *ngIf="load_btn" type="button" class="btn btn-primary btn-shadow">
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                Creando...
              </button>


            </div>
          </div>
        </form>


      </div>
    </div> <!-- / .row -->
  </div>
</div>