<app-sidebar></app-sidebar>

<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-11">

        <!-- Header -->
        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">

                <!-- Pretitle -->
                <h6 class="header-pretitle">
                  Módulo
                </h6>

                <!-- Title -->
                <h1 class="header-title">
                  Órdenes
                </h1>

              </div>
            </div> <!-- / .row -->

          </div>
        </div>

        <!-- Alert -->


        <!-- Card -->
        <div class="card">
          <div class="card-header">

            <!-- Title -->
            <h4 class="card-header-title">
              Mostrando todas las órdenes
            </h4>

          </div>
          <div class="card-body">
            <!-- <div class="input-group input-group-merge">
              <input type="text" class="form-control form-control-appended" placeholder="Buscar cliente" name="filtro"
                [(ngModel)]="filtro">
              <div class="input-group-append">
                <button class="btn btn-primary">
                  Buscar
                </button>
              </div>
            </div> -->
            <button class="btn btn-success" [routerLink]="['/ordenes/create']" routerLinkActive="router-link-active">Registrar Orden</button>
          </div>
          <div class="table-responsive">
            <table class="table table-sm table-nowrap card-table">
              <thead>
                <tr>
                  <th>Proveedor</th>
                  <th>Fecha de Entrega</th>
                  <th>Observación</th>
                  <th>Total</th>
                  <th>Estado</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody class="font-size-base">
                <tr *ngFor="let item of ordenes | slice: (page-1) * limit : (page-1) * limit + limit">
                  <td>
                    {{item.proveedor}}
                  </td>
                  <td>
                    <span *ngIf="item.fechaEntrega">{{item.fechaEntregaString}}</span>
                    <span *ngIf="!item.fechaEntrega">No registrada</span>
                  <td>
                    {{item.observacion}}
                  </td>
                  <td>
                    S/ {{item.total}}
                  </td>
                  <td>
                    <span *ngIf="item.estadoOrden === 1" span class="badge badge-primary">
                      En revisión
                    </span>
                    <span *ngIf="item.estadoOrden === 2" span class="badge badge-danger">
                      Rechazada
                    </span>
                    <span *ngIf="item.estadoOrden === 3" span class="badge badge-warning">
                      Pendiente
                    </span>
                    <span *ngIf="item.estadoOrden === 4" span class="badge badge-success">
                      Completada
                    </span>
                    <span *ngIf="item.estadoOrden === 5" span class="badge badge-info">
                      Reprogramada
                    </span>
                  </td>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonAlias"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Opciones
                    </button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAlias">
                      <li>
                        <a class="dropdown-item" [routerLink]="['/cliente/edit',item._id]">Editar</a>
                      </li>
                      <li>
                        <a class="dropdown-item" [routerLink]="['/cliente/elimina',item._id]">Eliminar</a>
                      </li>
                    </ul>
                  </div>
                </tr>

              </tbody>
            </table>

          </div>

        </div>
        <ngb-pagination *ngIf="ordenes.length >= 1" [(page)]="page" [pageSize]="limit" [maxSize]="10" [rotate]="true"
          [boundaryLinks]="true" [collectionSize]="ordenes.length"></ngb-pagination>

        <br>

      </div>
    </div> <!-- / .row -->
  </div>
</div>